<%= render 'elements/header' %>
<div class="jumbotron">
  <div class="header-bg-image">

  </div>
</div>
<div class="container">
  <div class="row vertical-center">
    <div class="col-xs-6 col-md-4">
      <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget mattis purus, in feugiat ipsum. Duis pellentesque consequat sem, vel pretium justo euismod vel. Proin gravida ullamcorper odio sed vestibulum. Ut magna purus, ultricies et porta sit amet, tempus sit amet tellus. Etiam id lectus tortor. Nulla leo dolor, placerat vel sagittis et, molestie sit amet enim. Duis sodales blandit fermentum. Sed a malesuada nibh. Aliquam non nulla tortor. Nunc ut ultrices leo, id feugiat enim.</p>
    </div>
    <div class="col-xs-6 col-md-4 thumbnail">
        <%= image_tag("header_bg") %>
    </div>
    <div class="col-xs-6 col-md-4">
    </div>
  </div>
  <div class="row vertical-center">
    <div class="col-xs-6 col-md-4">
    </div>
    <div class="col-xs-6 col-md-4 thumbnail">
        <%= image_tag("header_bg") %>
    </div>
    <div class="col-xs-6 col-md-4">
      <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget mattis purus, in feugiat ipsum. Duis pellentesque consequat sem, vel pretium justo euismod vel. Proin gravida ullamcorper odio sed vestibulum. Ut magna purus, ultricies et porta sit amet, tempus sit amet tellus. Etiam id lectus tortor. Nulla leo dolor, placerat vel sagittis et, molestie sit amet enim. Duis sodales blandit fermentum. Sed a malesuada nibh. Aliquam non nulla tortor. Nunc ut ultrices leo, id feugiat enim.</p>
    </div>
  </div>
  <div class="row vertical-center">
    <div class="col-xs-6 col-md-4">
      <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget mattis purus, in feugiat ipsum. Duis pellentesque consequat sem, vel pretium justo euismod vel. Proin gravida ullamcorper odio sed vestibulum. Ut magna purus, ultricies et porta sit amet, tempus sit amet tellus. Etiam id lectus tortor. Nulla leo dolor, placerat vel sagittis et, molestie sit amet enim. Duis sodales blandit fermentum. Sed a malesuada nibh. Aliquam non nulla tortor. Nunc ut ultrices leo, id feugiat enim.</p>
    </div>
    <div class="col-xs-6 col-md-4 thumbnail">
        <%= image_tag("header_bg") %>
    </div>
    <div class="col-xs-6 col-md-4"></div>
  </div>
</div>












